%h1 Create New Random Generator

= form_tag randomgenerators_path do

  = label :randomgenerator, :title, 'Title'
  = text_field :randomgenerator, 'title'

  - all = "Living the New Life, Proclaim Christ, Being Christ's Disciple, Growing in Christlikeness, Reliance on God's Resources"

  = label :randomgenerator, :query, 'Categories'
  = select :randomgenerator, :query, ["Living the New Life", "Proclaim Christ", "Being Christ's Disciple", "Growing in Christlikeness", "Reliance to God's Resources", "Living the New Life, Proclaim Christ", "Living the New Life, Being Christ's Disciple", "Living the New Life, Growing in Christlikeness", "Reliance on God's Resources, Proclaim Christ", "Reliance on God's Resources, Living the New Life", "Proclaim Christ, Being Christ's Disciple", "Proclaim Christ, Growing in Christlikeness", "Living the New Life, Proclaim Christ, Being Christ's Disciple", "Christ the Center, Being Christ's Disciple, Growing in Christlikeness", "Living the New Life, Proclaim Christ, Growing in Christlikeness", "Living the New Life, Relying on God's Resources, Being Christ's Disciple", "Proclaim Christ, Growing in Christlikeness, Being Christ's Disciple", all]
  = submit_tag 'Save Changes'
