-# in app/views/movies/show.html.haml

%h2 #{@randomgenerator.title}

%h3 Categories: #{@randomgenerator.query}

%ul#verse
  %li
    Verse:
    - verse = @randomgenerator.generate_verse()
  %li
    = verse.rating
  %li
    = verse.title
  %li
    = verse.release_date

= link_to 'Rerun Generator', randomgenerator_path(@randomgenerator)
= link_to 'Edit', edit_randomgenerator_path(@randomgenerator)
= button_to 'Delete', randomgenerator_path(@randomgenerator), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to generator page', randomgenerators_path
